services:
  2fa-app:
    image: 1596944197/2fa-app
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - .env:/app/.env
